.venv
/.idea/.gitignore
/.idea/misc.xml
/.idea/module_30_hw.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/requirements.txt
/.idea/vcs.xml
